body {
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
}

.calculator {
    background: #222;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px #000;
    width: 340px;
}

.display input {
    width: 100%;
    height: 60px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #ddd;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 15px;
}

button {
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #333;
    color: white;
}

button:hover {
    background: #555;
}

.orange {
    background: orange;
    color: black;
}

.equal {
    background: green;
    color: white;
}
